@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-gradient-color: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --main-bg-color: hsl(229, 57%, 11%);
    --main-cards-color: hsl(228, 56%, 26%);
    --main-num-color: hsl(243, 100%, 93%);
    --main-text-color: hsl(229, 7%, 55%);
    --main-font-size: 14px;
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--main-bg-color);
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    padding: 5px;
}

.img-icon {
    background-color: var(--main-bg-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('../images/bg-desktop.png');
    background-repeat: no-repeat;
    max-width: 1440px;
    padding: 150px;
    margin: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card1{
    border: 1px;
    border-radius: 10px;
    border-top-right-radius: 100px;
    background-color: var(--main-cards-color);
    padding: 30px;
    width: 350px;
}

.card2 {
    border: 1px;
    background-color: var(--main-cards-color);
    border-radius: 10px;
    padding: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}